*{
    margin: 0;
    padding: 0;
}

body {
	background: #2EB674;
	font-family: 'Montserrat';
	font-weight: 400;
}

.center{
    align-items: center;
    justify-content: center;
}

.password_container {
    margin-top: 80px;
    width: 100%;
    height: 60%;
    text-align: center;
}

.login_img {
    text-align: center;
    justify-content: center;
    width: 430px;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.password_credentials {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.new_password, .confirm_password {
    display: block;
    border: none;
    height: 40px;
    width: 600px;
    background-color: #F2F2F2;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 15px;
    margin: 20px auto;
    max-width: 100%;
    padding-left: 20px;
}

.new_password:focus, .confirm_password:focus {
    outline: none;
}

.show_pass {
    display: block;
    font-family: Montserrat;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 10px auto;
}

.reset_btn {
   font-family: Montserrat;
   font-size: 20px;
   font-weight: bold;
   height: 50px;
   width: 275px;
   color: #FFFFFF;
   background-color: #FFC91E;
   border: none;
   border-radius: 10px;
   margin: 20px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   box-shadow: 5px 5px 10px 2px rgba(0,0,0,.3);
}

.reset_btn:hover {
    background-color: darkorange;
    transition: 0.3s;
}

@media screen and (max-width:700px) {

    .password_credentials {
        max-width: 85%;
    }

    .new_password, .confirm_password {
        width: 300px;
    }

    .reset_btn{
    	width: 175px;
    	height: 60px;
    }
}